{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    {{ profile.user.first_name }} {{ profile.user.last_name }}
{% endblock %}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>welcome to profile</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-8 mx-auto" style="text-align: center;">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>{{profile.user.first_name}}, Profile Data:</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>username: <span>{{profile.user.username}} </span></li>
                            <li>First Name: <span>{{profile.user.first_name}} </span></li>
                            <li>Last Name: <span>{{profile.user.last_name}} </span></li>
                            <li>email: <span>{{profile.user.email}}</span></li>
                            <li>Address: <span>{{profile.city}}</span></li>
                            <li>Phone Number: <span> {{profile.phone_number}}</span></li>
                        </ul>
                        <div class="p-5">
                        <a href="{% url 'edit_profile' %}" style="text-decoration: none; text-align: center;" class="boxed-btn3 w-100">Edit Profile?</a>
                    </div>
                    <a href="{% url 'logout' %}" style=" text-align: center; color: red;">Logout!</a>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>
{% endblock %}

