<!-- html parent for reset_done and password_done pages to inherit from it  -->

{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>
                        {% block heading %}
                        {% endblock %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->


{% endblock %}

